@import "../vars.css";

.container {
  background-color: var(--color-primary);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.content {
  margin-top: 20vh;
}

.logo {
  color: var(--color-white);
  margin: 0 auto 4rem auto;
  width: 20rem;
}

.info {
  color: var(--color-white);
  text-align: center;
  max-width: 40rem;
  margin-bottom: 4rem;
}

.info > * {
  margin-bottom: 2rem;
}

.info > p {
  font-size: var(--fontsize-large);
  font-weight: var(--fontweight-light);
  line-height: 1.5;
}

.search {
  display: flex;
  justify-content: center;
}
